<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <link th:href="@{/css/mainstyle.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" id="contents" class="content">
    <h1>이벤트 등록</h1>
    <form action="/event/create" method="post">
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" th:value="${event.title}" required>

        <label for="author">작성자:</label>
        <input type="text" id="author" name="author" th:value="${event.author}" required>

        <label for="description">설명:</label>
        <textarea id="description" name="description" rows="4" required th:text="${event.description}"></textarea>

<!--        <label for="createdDate">작성일:</label>-->
<!--        <input type="date" id="createdDate" name="createdDate" th:value="${event.createdDate}" required>-->

        <button type="submit">저장</button>
    </form>
<!--    <a href="/event">목록으로 돌아가기</a>-->
</div>
</html>

