<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/mainstyle.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" id="contents" class="content">
    <a href="/event/create" class="new-post-button">이벤트 작성</a>
    <h2 class="page-title">이벤트 목록</h2>
    <table class="event-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th sec:authorize="hasRole('ADMIN')">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event, iterStat : ${events}">
            <td th:text="${iterStat.index + 1 + (search.page - 1) * search.recordSize}"></td>
            <td><a th:href="@{/event/{id}(id=${event.id})}" th:text="${event.title}"></a></td>
            <td th:text="${event.author}"></td>
            <td th:text="${#temporals.format(event.createdDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${event.hitCount}"></td>
            <!-- 관리자의 경우에만 삭제 버튼이 보이도록 설정할 수 있습니다. -->
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/event/delete/{id}(id=${event.id})}" method="post" class="delete-btn">
<!--                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
                    <button type="submit">삭제하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            <!-- 이전 페이지 링크 -->
            <li th:if="${search.existPrevPage}">
                <a th:href="@{|/event?page=${search.startPage - 1}|}">이전</a>
            </li>

            <!-- 페이지 번호 링크들 -->
            <li th:each="pageNum : ${#numbers.sequence(search.startPage, search.endPage)}">
                <a th:href="@{|/event?page=${pageNum}|}"
                   th:text="${pageNum}"
                   th:classappend="${pageNum == currentPage ? 'active' : ''}">
                </a>
            </li>

            <!-- 다음 페이지 링크 -->
            <li th:if="${search.existNextPage}">
                <a th:href="@{|/event?page=${search.endPage + 1}|}">다음</a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>