<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/mainstyle.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" id="contents" class="content">
    <a href="/notice/write" class="new-post-button">글 작성</a>
    <h2 class="page-title">공지사항 목록</h2>
    <table class="notice-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th sec:authorize="hasRole('ADMIN')">삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice, iterStat : ${notices}">
            <td th:text="${iterStat.index + 1 + (search.page - 1) * search.recordSize}"></td> <!-- 1-based index -->
            <td><a th:href="@{/notice/{id}(id=${notice.id})}" th:text="${notice.title}"></a></td>
            <td th:text="${notice.author}"></td>
            <td th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${notice.hitCount}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/notice/delete/{id}(id=${notice.id})}" method="post" class="delete-btn">
<!--                    <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                    <button type="submit">삭제하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            <!-- 이전 페이지 링크 -->
            <li th:if="${search.existPrevPage}">
                <a th:href="@{|/notice?page=${search.startPage - 1}|}">이전</a>
            </li>
            <!-- 페이지 번호 링크 -->
            <li th:each="pageNum : ${#numbers.sequence(search.startPage, search.endPage)}">
                <a th:href="@{|/notice?page=${pageNum}|}"
                   th:text="${pageNum}"
                   th:classappend="${pageNum == currentPage ? 'active' : ''}"></a>
            </li>
            <!-- 다음 페이지 링크 -->
            <li th:if="${search.existNextPage}">
                <a th:href="@{|/notice?page=${search.endPage + 1}|}">다음</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>

